/*Section styles*/

.content-container{
    max-width: 1200px;
    margin: 0 auto;
}


.project{
    background-color: floralwhite;
    padding: 50px;
    text-align: center;
}

.project-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
}

.contact{
    background-color: #f0f0f0;
    padding: 50px;
}

.contact-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
}

.contact-form{
    flex:1;
    text-align: left;
}

.contact-info{
    flex:1;
    text-align: left;
}

/*Button styles*/
.button{
    background-color: #333;
    color: white;
    padding: 10px ;
    border: none;
    cursor: pointer;
}

.button:hover{
    background-color: #555;
}